In [35]:
import tensorflow

In [36]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model
import pickle

In [37]:
model=load_model('model.h5')

with open('cat_to_num.pkl','rb') as file:
    cat_to_num=pickle.load(file)

with open('Scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [38]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [39]:
test_new=pd.DataFrame([input_data])

In [40]:
test_new

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [41]:
test_tr=cat_to_num.transform(test_new[['Geography']])

In [42]:
test_tr

array([[1., 0., 0.]])

In [43]:
test_tr=pd.DataFrame(test_tr,columns=cat_to_num.get_feature_names_out(['Geography']))
test_new_tr=pd.concat([test_new.drop('Geography',axis=1),test_tr],axis=1)

In [45]:
test_new_tr

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [50]:
test_new_tr.replace(to_replace=['Male','Female'],value=[0,1],inplace=True)

/var/folders/rk/_6tgrlzd6zj67l5b_64lpzym0000gn/T/ipykernel_19817/784416721.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_new_tr.replace(to_replace=['Male','Female'],value=[0,1],inplace=True)

In [51]:
test_new_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        1 non-null      int64
 1   Gender             1 non-null      int64
 2   Age                1 non-null      int64
 3   Tenure             1 non-null      int64
 4   Balance            1 non-null      int64
 5   NumOfProducts      1 non-null      int64
 6   HasCrCard          1 non-null      int64
 7   IsActiveMember     1 non-null      int64
 8   EstimatedSalary    1 non-null      int64
 9   Geography_France   1 non-null      float64
 10  Geography_Germany  1 non-null      float64
 11  Geography_Spain    1 non-null      float64
dtypes: float64(3), int64(9)
memory usage: 228.0 bytes

In [52]:
X=scaler.transform(test_new_tr)

In [56]:
X

array([[-0.53925168, -0.91095988,  0.10304902, -0.69067268, -0.26045034,
         0.80858371,  0.65040539,  0.97182532, -0.87454782,  1.00155966,
        -0.57835001, -0.57755022]])

In [67]:
prediction=model.predict(X)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step

In [68]:
print(prediction)

[[0.0566013]]